# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle atom-markdown-katex'
      'command': 'markdown-katex-preview:toggle'
    }
  ],
  '.markdown-katex-preview-editor': [
    {
      'label': 'Save As PDF'
      'command': 'markdown-katex-preview:save-as-pdf'
    }
    {
      'label': 'Save As HTML'
      'command': 'markdown-katex-preview:save-as-html'
    }
    {
      'label': 'Open in Browser'
      'command': 'markdown-katex-preview:open-in-browser'
    }
    {
      'label': 'Copy As HTML'
      'command': 'markdown-katex-preview:copy-as-html'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-markdown-katex'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'markdown-katex-preview:toggle'
        }
      ]
    ]
  }
]
