# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle markdown preview enhanced with litvis'
      'command': 'markdown-preview-enhanced-with-litvis:toggle'
    }
  ],
  'atom-workspace atom-text-editor[data-grammar*="gfm"]': [
    {
      'label': 'Markdown Sync Preview',
      'command': 'markdown-preview-enhanced-with-litvis:sync-preview'}
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Markdown Preview Enhanced with litvis'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'markdown-preview-enhanced-with-litvis:toggle'
        }
      ]
    ]
  }
]
