# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'.platform-win32 atom-workspace atom-text-editor[data-grammar="source gfm"], .platform-linux atom-workspace atom-text-editor[data-grammar="source gfm"], .platform-darwin atom-workspace atom-text-editor[data-grammar="source gfm"]':
  'ctrl-shift-m': 'markdown-preview-enhanced:toggle'
  'ctrl-shift-i': 'markdown-preview-enhanced:image-helper'
  'shift-enter': 'markdown-preview-enhanced:run-code-chunk'
  'ctrl-shift-enter': 'markdown-preview-enhanced:run-all-code-chunks'
  'ctrl-shift-s': 'markdown-preview-enhanced:sync-preview'

'.platform-darwin atom-workspace .markdown-preview-enhanced-container':
  'cmd-+': 'markdown-preview-enhanced:zoom-in'
  'cmd-=': 'markdown-preview-enhanced:zoom-in'
  'cmd--': 'markdown-preview-enhanced:zoom-out'
  'cmd-_': 'markdown-preview-enhanced:zoom-out'
  'cmd-0': 'markdown-preview-enhanced:reset-zoom'
  'cmd-r': 'markdown-preview-enhanced:refresh-preview'
  'ctrl-shift-s': 'markdown-preview-enhanced:sync-source'

'.platform-win32 atom-workspace .markdown-preview-enhanced-container, .platform-linux atom-workspace .markdown-preview-enhanced-container':
  'ctrl-+': 'markdown-preview-enhanced:zoom-in'
  'ctrl-=': 'markdown-preview-enhanced:zoom-in'
  'ctrl--': 'markdown-preview-enhanced:zoom-out'
  'ctrl-_': 'markdown-preview-enhanced:zoom-out'
  'ctrl-0': 'markdown-preview-enhanced:reset-zoom'
  'ctrl-r': 'markdown-preview-enhanced:refresh-preview'
  'ctrl-shift-s': 'markdown-preview-enhanced:sync-source'