html,
body {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans,
    sans-serif;
}

body {
  background-color: inherit;
}

body .markdown-spinner {
  margin: 48px auto;
  background-image: url(../assets/octocat-spinner-128.gif);
  background-repeat: no-repeat;
  background-size: 64px;
  background-position: top center;
  padding-top: 70px;
  text-align: center;
  font-size: 16px;
  color: gray;
}
