@import "ui-variables";

atom-text-editor[data-markdown-zen].editor {
  .gutter {
    display: none;
  }

  atom-text-editor-minimap {
    display: none;
  }

  .vertical-scrollbar {
    display: none;
  }
}

atom-text-editor[data-markdown-zen] {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 10%;
    padding-right: 10%;
    // width: 80%;
    // max-width: 874px;
    // margin: 0 auto;
    // background-color: @syntax-background-color;
}
